<div class="landing_cards" ng-repeat="destination in threeDestinations">
  <h3>Réserver votre voyage pour {{ destination.VILLEARRIVEE }}</h3>
  <p>Ville de départ : {{ destination.VILLEDEPART }}</p>
  <p>Date de départ : {{ destination.DATEDEPART}} </p>
  <p>Durée : {{ destination.DUREE }} jours </p>

  <h3>Informations : </h3>
  <p> Prix de base HT : {{ destination.PRIX }} euros </p>
  <p> Places restante : {{ destination.NBRPLACEDISPONIBLES }} </p>
  <h3> Etapes du voyage : </h3>
</div>
<div class="landing_cards" ng-repeat="etape in etapes">
  <p> Pays : {{ etape.PAYS }} </p>
  <p> Ville : {{ etape.VILLE }} </p>
  <p> Monument : {{ etape.NOMLIEUX}} </p>
  <p> Durée de l'étape : {{ etape.DUREE }} heure(s) </p>
  <p> Prix de l'étape : {{ etape.PRIXVISITE }} euros </p>
</div>

<div class="landing_cards">
  <h3> Réservation :  </h3>
  

    <p> Prix TTC * : {{ prixtotal.prixto }} euros (prix ttc : prix du voyage + prix des circuits)</p><br/>
    <button ng-click="processReservation();" class="waves-effect waves-light btn">Réserver</button>
</div>
