<div class="landing_cards" ng-repeat="destination in threeDestinations">
  <h3>Réserver votre voyage pour {{ destination.VILLEARRIVEE }}</h3>
  <p>Ville de départ : {{ destination.VILLEDEPART }}</p>
  <p>Date de départ : {{ destination.DATEDEPART}} </p>
  <p>Durée : {{ destination.DUREE }} jours </p>
  
  <h3>Informations : </h3>
  <p> Prix : {{ destination.PRIX }} euros </p>
  <p> Places restante : {{ destination.NBRPLACEDISPONIBLES }} </p>

  <h3> Réservation :  </h3>
    <fieldset  data-ng-repeat="choice in voyageurs">
        <input placeholder="Nom du voyageur" id="first_name" type="text" class="validate">    
        <input placeholder="Prenom du voyageur" id="first_name" type="text" class="validate"> 
        <input placeholder="Date de naissance du voyageur" id="first_name" type="text" class="validate">
        <button ng-click="addNewVoyageurs()">Ajouter un voyageur</button>
        <button class="remove" ng-show="voyageurs.length > 1" ng-click="removeVoyageurs()">Supprimer ce voyageur</button>
    </fieldset>  

    <div id="choicesDisplay">
      {{ choice }}
    </div>

    <p> Prix total : </p><br/>
    <a class="waves-effect waves-light btn">Réserver</a> 
</div>