<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <title>EPSI - Oracle DB Project</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet"/>

    <link href="bower_components/materialize/dist/css/materialize.min.css" rel="stylesheet"/>
    <link href="bower_components/flexboxgrid/dist/flexboxgrid.min.css" rel="stylesheet"/>
    <link href="bower_components/angular-loading-bar/build/loading-bar.css" rel="stylesheet"/>
    <link href="assets/css/material_components.min.css" rel="stylesheet"/>
    <link href="assets/css/material_admin.min.css" rel="stylesheet"/>

    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/materialize/dist/js/materialize.min.js"></script>
  </head>
  <body>
    <div ng-app="app">
      <header>
        <div class="top_level_bar">
          <div class="container">
            <p><i class="material-icons">phone</i>0321713334</p>
            <div class="right_links">
              <p ng-if="!isAuthenticated" data-target="loginModal" enable-tabs="true" modal><i class="material-icons">account_circle</i>Se connecter</p>
              <p ng-if="isAuthenticated" ng-click="disconnect()"><i class="material-icons">account_circle</i>{{ userConnected[0].NOM }} {{ userConnected[0].PRENOM }}</p>
            </div>
          </div>
        </div>
        <nav>
          <div class="nav-wrapper container">
            <a class="brand-logo hide-on-small-only">
              City Tours
            </a>
            <a href="#" class="button-collapse" data-activates="nav-mobile" data-sidenav="left" data-menuwidth="300" data-closeonclick="true">
              <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
              <li><a href="#!/home">Accueil</a></li>
              <li><a href="#!/voyages">Voyages</a></li>
            </ul>
            <ul id="nav-mobile" class="side-nav">
              <li><a href="#!/home">Accueil</a></li>
              <li><a href="#!/voyages">Voyages</a></li>
            </ul>
          </div>
        </nav>
        <div class="slider" interval="5000" transition="1000" indicators="false" slider ng-repeat="destination in threeDestinations">
          <ul class="slides">
            <li>
              <img src="assets/img/slide_1.jpg"> <!-- random image -->
              <div class="caption center-align">
                <h3>voyage à {{ destination.VILLEDEPART }}</h3>
                <h5>{{ destination.DESCRIPTIF}}</h5>
                <a class="waves-effect waves-light btn red accent-2">réserver</a>
              </div>
            </li>
          </ul>
        </div>
      </header>

      <div class="content">
        <div class="ui" ui-view></div>
      </div>

      <!-- Modal Login / Signin -->
      <div id="loginModal" class="modal loginModal">
        <div class="modal-content">
          <ul tabs>
            <li class="tab"><a class="active" href="#login">Connexion</a></li>
            <li class="tab"><a href="#signin">Inscription</a></li>
          </ul>
          <div id="login" class="col-lg-12">
            <form ng-submit="connect()">
              <input-field>
                <input type="text" ng-model="userConnect.login" placeholder="Identifiant">
              </input-field>
              <input-field>
                <input type="password" ng-model="userConnect.pwd" placeholder="Mot de passe">
              </input-field>
              <button type="submit" class="modal-action modal-close waves-effect waves-light btn red accent-2">connexion</button>
            </form>
          </div>
          <div id="signin" class="col-lg-12">
            <form ng-submit="inscription()">
              <input-field>
                <input type="text" ng-model="userInscription.NOM" placeholder="Nom">
              </input-field>
              <input-field>
                <input type="text" ng-model="userInscription.PRENOM" placeholder="Prénom">
              </input-field>
              <input-field>
                <input type="text" ng-model="userInscription.LOGIN" placeholder="Identifiant">
              </input-field>
              <input-field>
                <input type="password" ng-model="userInscription.MDP" placeholder="Mot de passe">
              </input-field>
              <button type="submit" class="waves-effect waves-light btn red accent-2">inscription</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-i18n/angular-locale_fr.js"></script>
    <script type="text/javascript" src="bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="bower_components/angular-materialize/src/angular-materialize.js"></script>

    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="app.run.js"></script>

    <script type="text/javascript" src="components/home/home.controller.js"></script>
    <script type="text/javascript" src="components/reservation/reservation.controller.js"></script>
    <script type="text/javascript" src="components/voyages/voyages.controller.js"></script>
  </body>
</html>
