@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);
*,*:before,*:after{
  box-sizing:border-box;
  margin:0;padding:0;
}

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$white : #FFF; 

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $white;
  width:100%;
}

h1 { font:300 2.41em/3 'Lato', sans-serif; }