// out: material_admin.min.css, sourcemap: true, compress: false

@import "../../bower_components/material-color/material-color.less";

// GENERAL
* {
  margin: 0;
  padding: 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
}

body {
  margin: 0;
  color: #5e5e5e;
  line-height: 1.42857143;
  background-color: @clr-white;
  text-rendering: optimizeLegibility;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

// TOP LEVEL BAR
.top_level_bar {
  top: 0;
  width: 100%;
  height: 35px;
  z-index: 999;
  position: absolute;
  .flex_vert-center();
  border-bottom: 1px solid rgba(255,255,255,.3);

  .container {
    .flex__row();
    .flex_vert-center();

    p {
      font-size: 12px;
      color: @clr-white;
      .flex_vert-center();

      i {
        font-size: 14px;
        color: @clr-white;
        margin-right: 5px;
      }
    }

    .right_links {
      cursor: pointer;
      margin-right: 10px;
      margin-left: auto;

      p {

      }
    }
  }
}

// NAVIGATION
nav {
  top: 35px;
  z-index: 999;
  box-shadow: none;
  position: absolute;
  .flex_vert-center();
  background-color: transparent !important;

  .brand-logo {
    font-size: 1.5rem;
  }

  #nav-mobile {
    li {
      a {
        font-size: .95rem;
      }
    }
  }
}

// SLIDER
.slider {
  min-height: 365px;
  height: 75% !important;

  .slides {
    height: 100% !important;

    .caption {
      top: 40% !important;

      h3 {
        font-weight: 700;
        text-transform: uppercase;
      }

      h5 {
        opacity: .9;
        margin-top: 8px;
        font-weight: 400;
        font-size: 1.2rem;
        text-transform: uppercase;
      }

      a {
        margin-top: 30px;
      }
    }
  }
}

// LOGIN MODAL
.loginModal {
  right: auto;
  width: 300px;
  max-width: 90%;

  .modal-content {
    width: 100%;
    padding: 0 !important;

    .tabs {
      .flex__row;
      position: static;
      width: 100% !important;

      .tab {
        width: 50% !important;

        a {
          padding: 0;
        }
      }

      .indicator {
        display: none;
      }
    }

    form {
      .flex__column();
      .flex_hori-center();

      input {
        width: 100%;
        margin: 4px 0;
      }

      button {
        margin-top: 30px;
      }
    }
  }
}

// LANDING CARDS
.landing_cards {
  width: auto;
  padding: 25px 80px;
  padding-bottom: 5px;
  background-color: @clr-white;

  h3 {
    font-size: 28px !important;
    line-height: 36px !important;
    letter-spacing: -0.6px !important;
    padding-top: 40px !important;
    padding-bottom: 15px !important;
    color: #484848 !important;
  }
}

// RESERVATION
.reservation_container {
  padding: 40px 0;

  h2 {
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 15px;
  }

  h3 {
    font-weight: 600;
    margin-top: 40px;
    font-size: 1.8rem;
    margin-bottom: 15px;
  }

  p {
    font-size: 1rem;
    margin: 5px 0;
    font-weight: 600;

    span {
      font-weight: 400;
    }
  }
}

// FUNCTIONS
.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.flex() {
  display:         flex;
  display:    -moz-flex;
  display: -webkit-flex;
}

.flex__row() {
  flex-direction: row;
  display:         flex;
  display:    -moz-flex;
  display: -webkit-flex;
}

.flex__column() {
  flex-direction: column;
  display:         flex;
  display:    -moz-flex;
  display: -webkit-flex;
}

.flex_vert-center() {
  display:         flex;
  display:    -moz-flex;
  display: -webkit-flex;
  -webkit-align-items: center;
     -moz-align-items: center;
          align-items: center;
}

.flex_hori-center() {
  -webkit-align-items: center;
          align-items: center;
}

.flex_all-center() {
  display:         flex;
  display:    -moz-flex;
  display: -webkit-flex;
  -webkit-align-items: center;
     -moz-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
     -moz-justify-content: center;
          justify-content: center;
}

.transition(@element,@duration) {
  -webkit-transition: @element;
  -o-transition: @element;
  transition: @element;
  -webkit-transition-duration: @duration;
  transition-duration: @duration;
}

.disable_input--app() {
  -moz-appearance: none;
   -webkit-appearance: none;
   appearance: none;
}

.disable_text--select() {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
