@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font: 100% Helvetica, sans-serif;
  color: #333;
  background-color: #FFF;
  width: 100%; }

h1 {
  font: 300 2.41em/3 'Lato', sans-serif; }
